In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Read in the data

In [4]:
device_activations = pd.read_csv('data/device_activations.csv')

In [5]:
device_activations.head()

                  time    device  device_activated
0  2016-07-01 04:23:32  device_6                 1
1  2016-07-01 06:52:57  device_2                 1
2  2016-07-01 06:53:00  device_2                 1
3  2016-07-01 06:56:41  device_2                 1
4  2016-07-01 07:00:01  device_6                 1

### EDA

In [ ]:
#